---
import type { GetStaticPaths } from "astro";
import { getCollection,getEntries } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import DetailCard from '../../components/DetailCard.astro';

const layers2 = await getCollection('layers');

export async function getStaticPaths(){

    const products = await getCollection('products');
   
    return products.map((product)=>({
        params: { id: product.slug},
        props: { product}
    }))
};

const { product } = Astro.props
const { data  } = product
const { name,status, description,layers,image,technical,leader,link } = data


---

<Layout title={name}>
    <a href="/SCL-GEO-Tejerina/product" class="hover:underline opacity-70" transition:persist>Volver atrás</a>
    <DetailCard title={name} description={description} link={link} status={status} layers={layers} layers2={layers2} hasLayers="true" layer=false image={image} leader={leader} technical={technical}></DetailCard>
</Layout>