---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

import { getCollection } from 'astro:content';

const products = await getCollection('products');

---
<Layout>
	<h4 class="font-bold text-2xl geo-eye">PRODUCTS</h4>
	<p>This section highlights social sector products that leverage geospatial analysis to tackle community challenges in areas such as education, health, social protection, and labor markets.</p>
	<div class="pb-5">
		<!-- <select id="select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
			<option value=""></option>
			{	status_array.map(c => {
					if(search != '' && c == search)
						return <option selected value={c}>{c}</option>
						return <option value={c}>{c}</option>
				})
			}
		</select> -->
		</div>
	  <div class="grid md:grid-cols-3 gap-5 grid-cols-1">
		{
        	products.map(product=>{				
				const { slug, data } = product
				const { name, status, layers, division,image, leader, technical } = data
				return ( 
					<Card name={name} status={status} slug={slug} layers={layers} division={division} leader={leader} technical={technical} hasLayers="true" image={image}></Card> 
				)
			})
		}			
	  </div>
</Layout>
