---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import DetailCard from '../../components/DetailCard.astro';

export async function getStaticPaths(){

    const layers = await getCollection('layers');

    return layers.map((layer)=>({
        params: { id: layer.slug},
        props: { layer}
    }))
};

const { layer } = Astro.props
const { data } = layer
const { name,status, description,image,technical,leader,link } = data
---

<Layout>
    <a href="/SCL-GEO-Tejerina/layer" class="hover:underline opacity-70" transition:persist>Volver atrás</a>
    <DetailCard title={name} description={description} link={link} status={status} hasLayers="false" image={image} leader={leader} technical={technical}></DetailCard>
</Layout>